html {
	text-rendering: optimizelegibility;
	font-family: sans-serif;
	margin: 0 .5em;
}
body {
	max-width: 35em;
	margin: 0em auto;
	color: #222;
	background: #fbfbfb;
}
nav {
	text-align: center;
}
header nav {
	padding: 1em;
	border-bottom: 1px solid rgba(0,0,0,0.18);
}
header nav a {
	margin-right: 1em;
}
nav a {
	color: #666;
}
blockquote {
	border-left: 4px solid;
	padding: 0 12px;
	margin: 0;
}
main {
	padding: 0 0 .4em 0;
}
main section {
	display: grid;
	grid-gap: .5em;
	padding: .5em 0;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
main section img:hover {
	transition: all .4s ease;
	cursor: pointer;
	opacity: .5;
}
img {
	width: 100%;
	object-fit: cover;
	border-radius: 5px;
}
a {
	text-decoration: none;
	color: #1971bf;
}
a:hover {
	text-decoration: underline;
	color: #222;
}
table {
	width: 100%;
	border-collapse: collapse;
}
table th {
    background-color: #f2f2f2;
}
table, th, td {
	border: 1px solid #a2a9b1;
	padding: 0.5em;
}
footer nav {
	margin: .6em;
}
svg:hover {
	fill: #222;
}
